.screen{
	float: left;
	border-color: black;
	border-style: solid;
	border-width: 1px;
	background-color: gray;
	padding-bottom: 0.2%;
	margin: 5%;
	
}
input{
	float: left ;
	padding-right: 50%;
	margin: 5%;
}
.cal{
	border-style: solid;
	border-width: 1px;
	border-radius: 12px;
	margin: 20%;
	height: 100%;
	width: 40%;
	background-color: blue;
}



.button1{
	width: 92%;
	margin: 4.5%;
	padding-right: 1%;

}
